@charset "UTF-8";

body{
min-width: 40em;
overflow: scroll;
}

div#header{
background-color: rgb(0,102,204);
}

h1{
font-size: 2em;
font-weight: bold;
color: rgb(255,255,255);
margin: auto auto 0em;
}

p#tagline{
font-size: 1em;
font-weight: bold;
color: rgb(240,240,240);
}

h2, h3{
font-weight: bold;
background-color: rgb(0,102,51);
color: rgb(255,255,255);
}

span.caution{
font-size: 0.8em;
color: red;
}
